.objects {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 99;
}

.objects_element {
  border-bottom: 1px solid #bcbcbc;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.info:nth-child(2) {
  padding-left: 44px;
}

.info:nth-child(2) .info_element {
  padding-left: 20px;
}

.info:nth-child(4) {
  padding-left: 44px;
  justify-content: flex-start;
  gap: 90px
}

.info:nth-child(4) .info_element {
  padding-left: 20px;
}

.info_element {
  position: relative;
  width: 180px
}

.icon {
  position: absolute;
  left: -20px;
  height: 80%;
  top: 4px;
}

.info {
  justify-content: space-between;
  padding: 24px 48px 24px  24px;
  gap: 100px;
}

.info .info_element {
  width: fit-content;
}

.objects_element:last-of-type {
  border-bottom: none;
}

.objects_element:first-of-type .info_element {
  align-self: flex-end;
}

.title {
  color: #bcbcbc;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.content {
  color: black;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.object_name {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  padding: 0;
  margin: 0;
}

.object_info {
  padding: 80px 24px;
  flex-direction: column;
  gap: 24px;
}

.object_radios {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
}

.radio_indicator {
  font-size: 24px;
  line-height: 18px;
  content: " ";
  width: 12px;
  height: 12px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  margin-top: 9px;
  color: #bcbcbc;
}

.radio_indicator__active {
  background-image: url('./images/radio_active.svg');
  width: 16px;
  height: 16px;
  border: none;
  background-position: center;
  background-size: cover;
}

.object_radio:first-of-type .radio_indicator {
  border: none;
}

.object_radio {
  height: 43px;
}

.button {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button_exit {
  background-color:#0353a4;
  line-height: 36px;
  font-family: "Inter";
  padding: 0 24px;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  transition: 300ms ease-in-out;
  width: fit-content;
  align-self: flex-end;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.button_edit {
  background-color: #0353a4;
  line-height: 36px;
  font-family: "Inter";
  padding: 0 24px;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  transition: 300ms ease-in-out;
  width: fit-content;
}

.button_edit:disabled {
  cursor: default;
  opacity: 1;
}

.button_edit:disabled:hover {
  cursor: default;
  opacity: 1;
}

.button_edit:hover, .button_exit:hover {
  opacity: 0.7;
  transition: 300ms ease-in-out;
}

.status {
  justify-content: flex-start;
  gap: 36px;
  margin-top: 12px;
}

.status_info {
  font-size: 24px;
  line-height: 29px;
  background-color: #00BB1E;
  border-radius: 83.2px;
  color: white;
  padding: 12px 50px;
}

.status_element:last-of-type .status_info{
  background-color: #0353a4;
}

.status_element {
  display: flex;
  flex-direction: column;
  gap: 16px
}
