.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%;
  padding: 96px 0 0 36px;
}

.form {
  width: 336px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.form_input {
  outline: none;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  appearance: none;
  height: 47px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 41px;
  z-index: 10;
  cursor: pointer;
  z-index: 99;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-background-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.form_label {
  font-size: 15px;
  line-height: 41px;
  font-family: "Inter";
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition: all 200ms ease-in-out;
  align-self: flex-start;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  cursor: pointer;
  z-index: 10;
}

.input_container {
  position: relative;
  width: 100%;
}

.input_container:nth-of-type(1) {
  margin: 24px 0;
}

.input_container:last-of-type {
  margin-bottom: 0;
}

.input_container input:focus + label,
.input_container input:not(:placeholder-shown) + label {
  transform: translateY(-12px);
  line-height: 15px;
  font-size: 12px;
  color: #bcbcbc;
  transition: all 200ms ease-in-out;
}

.errorMessage {
  color: #ff4040;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  margin: 20px auto 0;
}

.submit {
  appearance: none;
  background-color: #0353a4;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 54px;
  border: none;
  border-radius: 25.5px;
  margin-top: 36px;
  color: white;
}

.successMessage {
  color: rgb(1, 158, 1);
}
