
.form_input {
  outline: none;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  appearance: none;
  height: 47px;
  width: 384px;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 41px;
  z-index: 3;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-background-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.form_label {
  font-size: 15px;
  line-height: 41px;
  font-family: "Inter";
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition: all 200ms ease-in-out;
  align-self: flex-start;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.input_container {
  position: relative;
  margin-bottom: 20px;
}

.input_container:last-of-type {
  margin-bottom: 0;
}

.input_container input:focus + label,
.input_container input:not(:placeholder-shown) + label {
  transform: translateY(-12px);
  line-height: 15px;
  font-size: 12px;
  color: #bcbcbc;
  transition: all 200ms ease-in-out;
}

.radios_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.radio {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.radio_container {
  max-width: 110px;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-content: center;
  height: 24px;
}

.label_radio {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
}

.radios_label {
  font-size: 20px;
  line-height: 24px;
  align-self: flex-start;
  margin-bottom: 24px;
}

.button {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.form_submit {
  background-color: #0353a4;
  min-width: 346px;
  line-height: 22px;
  font-family: "Inter";
  padding: 20px 0;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  margin-top: 32px;
  transition: 300ms ease-in-out;
}

.form_submit:hover {
  opacity: 0.7;
  transition: 300ms ease-in-out;
}

.errorMessage {
  color: #FF4040;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  margin-top: 32px;
  height: 20px;
  width: 384px;
  height: fit-content;
}