.container {
  background-color: lightblue;
  padding: 5px 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.delete {
  background-image: url("../../assets/images/close.svg");
  background-position: center;
  background-size: cover;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: none;
  position: relative;
  right: -5px;
  z-index: 99;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}
