.radio {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.radio_container {
  max-width: 110px;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-content: center;
  height: 24px;
}

.label_radio {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
}

.radios_label {
  font-size: 20px;
  line-height: 24px;
  align-self: flex-start;
  margin-bottom: 24px;
}