@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('../../../public/fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../../public/fonts/Inter-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #0353A4;
}

.header {
    max-width: calc(1440px - 48px * 2);
    padding: 48px 48px 0 48px;
    background-color: #0353A4;
    margin: 0 auto;
    position: absolute;
}

.header_logo {
    background-image: url('../../../public/Group\ 179.svg');
    background-position: center;
    width: 90px;
    height: 31px;
}

.link {
    display: block;
    appearance: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.login {
    max-width: calc(1440px - 48px * 2);
    padding: 123px 12px 24px 12px;
    margin: 0 auto;
    max-height: calc( 100vh - 159px);
}

.login_formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 432px;
    background-color: white;
    border-radius: 12px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 48px 24px;
}

.form_logo {
    width: 117px;
    height: 57px;
    margin-bottom: 100px;
}

.form_submit {
    background-color: #1F1F1F;
    min-width: 204px;
    line-height: 22px;
    font-family: 'Inter';
    padding: 19px 20px;
    border-radius: 30px;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 17px;
    border: none;
    margin-top: 69px;
    transition: 300ms ease-in-out;
}

.form_submit:hover {
    opacity: 0.7;
    transition: 300ms ease-in-out;
}

.form_input {
    outline: none;
    border: none;
    border-bottom: 1px solid #BCBCBC;
    appearance: none;
    height: 47px;
    width: 336px;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 47px;
    font-size: 20px;
}

.form_input__noValid {
    border-bottom: 1px solid #FF4040;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
  -webkit-text-fill-background-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.form_label {
    font-size: 20px;
    line-height: 48px;
    font-family: 'Inter';
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: all 200ms ease-in-out;
    align-self: flex-start;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.form_forget {
    appearance: none;
    background-color: white;
    color: #BCBCBC;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 48px 0 0 0;
    transition: 300ms ease-in-out;
    border-bottom: 1px solid white;
    transition: 300ms ease-in-out;
    padding: 0;
}

.form_forget:hover {
    border-bottom: 1px solid #BCBCBC;
    transition: 300ms ease-in-out;
}

.input_container {
    position: relative;
    margin-bottom: 46px;
}

.input_container:last-of-type {
    margin-bottom: 0;
}

.input_container input:focus + label,
.input_container input:not(:placeholder-shown) + label {
  transform: translateY(-12px);
  line-height: 15px;
  font-size: 12px;
  color: #BCBCBC;
  transition: all 200ms ease-in-out;
}

.form_hideButton {
    position: absolute;
    top: 16px;
    bottom: 16px;
    width: 18px;
    right: 18px;
    height: 18px;
    background-image: url('./images/bi_eye-slash.svg');  
    padding: 0;
    margin: 0;
    background-color: white;
    appearance: none;
    cursor: pointer;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    background-repeat: no-repeat;
    background-position: center;
}

.form_hidePuttonFilled {
    background-image: url('./images/bi_eye-slash-fill.svg');
    position: absolute;
    top: 16px;
    bottom: 16px;
    width: 18px;
    right: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    background-color: white;
    appearance: none;
    cursor: pointer;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    background-repeat: no-repeat;
    background-position: center;
}

.errorMessage {
    color: #FF4040;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin-top: 24px;
    height: 20px;
}