.button {
    appearance: none;
    margin: auto 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.header_logo {
    width: 71px;
    height: 25px;
}

.link {
    display: block;
    appearance: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header_link {
    width: 70px;
    height: 24px;
    background-image: url('./images/Group\ 179.svg');
    background-position: center;
    background-size: cover;
}

.header_logoWrapper {
    width: 312px;
    border-bottom: 1px solid white;
    height: 73px;
    display: flex;
    padding-left: 24px;
    align-items: center;
}

.navWrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 336px;
    background-image: inherit;
    padding: 0;
    margin: 0;
    transform: translateX(-100%);
    transition: all 200ms ease;
    height: 100vh;
}

.navWrapper_visible {
    transform: translateX(0);
    transition: all 200ms ease;
}

.user {
    display: flex;
    padding: 51px 24px 48px;
    gap: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.user_avatar {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: gray;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: none;
}

.user_info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: flex-start;
}

.user_name {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Inter';
    font-weight: 400;
    color: #FFFFFF;
}

.user_from {
    color: #BCBCBC;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
}

.tabs_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255);
    padding: 24px;
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
    font-size: 24px;
    line-height: 100%;
    opacity: 0.5;
    z-index: 2;
}

.tab_active {
    opacity: 1;
    border-top: 1px solid rgba(255, 255, 255);
    z-index: 3;
    position: relative;
    top: -1px;
}

.exitButton {
    font-family: 'Inter';
    font-size: 24px;
    line-height: 29px;
    color: white;
    background-color: inherit;
    position: absolute;
    bottom: 24px;
    left: 24px;
}