.icon {
  height: 24px;
  top: 4px;
}

.title {
  color: #bcbcbc;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  height: 45%;
  padding: 0;
  margin: 0;
}

.content {
  color: black;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.info_element {
  position: relative;
  width: 180px;
  display: flex;
  align-items: center;
  gap: 12px;
}
