.table_row {
  background-color: white;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  position: relative;
}
tr.table_row__selected .table_cell {
  background: rgba(3, 83, 164, 0.2) !important;
}

tr:nth-child(even) .table_cell,
.table_cell__header {
  background: #f2f2f2;
}
.table_cell {
  height: 100%;
  white-space: nowrap;
  text-align: left;
  font-size: 12px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0;
  border-left: 1px solid white;
}

.table_cell__num {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table_cell:nth-of-type(1) {
  border-left: none;
}

.table_cell__balance {
  background-color: #0353a4;
  border-radius: 15px;
  line-height: 21px;
  padding: 0 13px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 5px;
}

.red {
    background-color: #F13D25 !important;
}

.yellow {
    background-color: #FFF50C !important;
}

.green {
    background-color: #25F176 !important;
}
