.user {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 99;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}