@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('../../../public/fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../../public/fonts/Inter-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #0353A4;
}

.header {
    max-width: calc(1440px - 48px * 2);
    padding: 48px 48px 0 48px;
    background-color: #0353A4;
    margin: 0 auto;
    position: absolute;
}

.header_logo {
    background-image: url('../../../public/Group\ 179.svg');
    background-position: center;
    width: 90px;
    height: 31px;
}

.link {
    display: block;
    appearance: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.login {
    max-width: calc(1440px - 48px * 2);
    padding: 123px 12px 24px 12px;
    margin: 0 auto;
    max-height: calc( 100vh - 159px);
}

.login_formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 432px;
    background-color: white;
    border-radius: 12px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 48px 24px;
    width: calc( 100% - 96px);
}

.form_logo {
    width: 117px;
    height: 57px;
    margin-bottom: 100px;
}

.form_submit {
    background-color: #1F1F1F;
    min-width: 204px;
    line-height: 22px;
    font-family: 'Inter';
    padding: 19px 20px;
    border-radius: 30px;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 17px;
    border: none;
    margin-top: 69px;
    transition: 300ms ease-in-out;
}

.form_submit:hover {
    opacity: 0.7;
    transition: 300ms ease-in-out;
}

.form_submit:disabled {
    cursor: default;
    opacity: 0.7;
}

.form_submit:disabled:hover {
    cursor: default;
    opacity: 0.7;
}

.form_input__invalid {
    border-bottom: 1px solid #FF4040;
}

.form_forget {
    appearance: none;
    background-color: white;
    color: #BCBCBC;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 48px 0 0 0;
    transition: 300ms ease-in-out;
    border-bottom: 1px solid white;
    transition: 300ms ease-in-out;
    padding: 0;
}

.form_forget:hover {
    border-bottom: 1px solid #BCBCBC;
    transition: 300ms ease-in-out;
}

.errorMessage {
    color: #FF4040;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin-top: 24px;
    height: 20px;
}

.form input {
    font-size: 20px !important;
}