.form_input {
    outline: none;
    border: none;
    border-bottom: 1px solid #bcbcbc;
    appearance: none;
    height: 47px;
    width: 384px;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 15px;
    line-height: 41px;
    z-index: 99;
    cursor: pointer;
  }
  
  .input_container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form_label__select {
    position: absolute;
    transform: translateY(-12px);
    line-height: 15px;
    font-size: 12px;
    color: #bcbcbc;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .optionContainer {
    position: absolute;
    z-index: 99;
    width: 384px;
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }