.table {
  display: grid;
  grid-template-columns:
    minmax(100px, 0.5fr)
    minmax(160px, 1.67fr)
    minmax(160px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(120px, 1.67fr)
    minmax(150px, 2.5fr)
    minmax(150px, 1.8fr);
  padding-bottom: 96px;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th:last-child {
  border: 0;
}

.objects_wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table_row {
  background-color: white;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  position: relative;
}
tr.table_row__selected .table_cell {
  background: rgba(3, 83, 164, 0.2) !important;
}

tr:nth-child(even) .table_cell,
.table_cell__header {
  background: #f2f2f2;
}

.table_cell__header {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.table_cell {
  height: 100%;
  white-space: nowrap;
  text-align: left;
  font-size: 12px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0;
  border-left: 1px solid white;
}

.table_cell__num {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table_cell:nth-of-type(1) {
  border-left: none;
}
