.toggle {
  appearance: none;
  inline-size: var(--track-size);
  block-size: var(--thumb-size);
  padding: var(--track-padding);
  flex-shrink: 0;
  display: grid;
  align-items: center;
  grid: [off] 1fr / [on] 1fr;
  background-color: white;
  width: 26px;
  height: 14px;
  border-radius: 7px;
  cursor: pointer;
}

.toggle::before {
  content: "";
  grid-area: off;
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  background-color: #bcbcbc;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  transform: translateX(-13px);
}

.toggle:checked::before {
  transition: all 200ms ease-in-out;
  transform: translateX(-2px);
  background-color: #0353a4;
}
